@import "ui-variables";

atom-pane.active .tab-bar {
  .tab-numbers-style(@content) {
    .close-icon {
      // Do not hide number on "One Dark" theme
      transform: none;

      // No animation on "Material UI"
      -webkit-animation: initial;

      &::before {
        font-family: Helvetica, Arial, sans-serif;
        content: @content;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }

  .tab .title {
    -webkit-mask: linear-gradient(to left, rgba(0, 0, 0, 0), #000000 1em) no-repeat;
    -webkit-mask-position: -1em 0;
  }

  .tab:not(:hover):not(.hover) {
    &:nth-of-type(1) {
      .tab-numbers-style("1");
    }

    &:nth-of-type(2) {
      .tab-numbers-style("2");
    }

    &:nth-of-type(3) {
      .tab-numbers-style("3");
    }

    &:nth-of-type(4) {
      .tab-numbers-style("4");
    }

    &:nth-of-type(5) {
      .tab-numbers-style("5");
    }

    &:nth-of-type(6) {
      .tab-numbers-style("6");
    }

    &:nth-of-type(7) {
      .tab-numbers-style("7");
    }

    &:nth-of-type(8) {
      .tab-numbers-style("8");
    }

    &:nth-of-type(9) {
      .tab-numbers-style("9");
    }
  }
}
